<script lang="ts">
    import type { Writable } from "svelte/store";
    import Board from "../../components/Board.svelte";
    import Hand from "../../components/Hand.svelte";
    import type { Hand as HandType} from "../../types/Hand";
    import { createStore } from "./store";

    const store = createStore()
    const { init, makeTurn, firstPlayerHand, secondPlayerHand, currentPlayer, board } = store

    let previosPlayer = 'none';
    let topPlayerHand: Writable<HandType>;
    let bottomPlayerHand: Writable<HandType>;
    $: if ($currentPlayer === 'first') {
        topPlayerHand = secondPlayerHand;
        bottomPlayerHand = firstPlayerHand;
    }
    else if ($currentPlayer === 'second') {
        topPlayerHand = firstPlayerHand;
        bottomPlayerHand = secondPlayerHand;
    }


    function switchPlayer(){
        if ($currentPlayer === 'first') {
            $currentPlayer = 'none'
            previosPlayer = 'first'
        } else if ($currentPlayer === 'none') {
            $currentPlayer = previosPlayer === 'first' ? 'second' : 'first';
            previosPlayer = 'none'
        } else {
            $currentPlayer = 'none'
            previosPlayer = 'second'
        }
    }

</script>
    <button on:click={switchPlayer}>Сменить игрока</button> 
    <div class="wrapper">
        {#await init() then }
            <Hand hand={topPlayerHand} closed/> 
            <Board {board}/>
            <Hand hand={bottomPlayerHand} {makeTurn} closed={$currentPlayer == 'none'}/>
        {/await}
    </div>


<style>
    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-image: linear-gradient(to bottom, #1A4A1C, #308834 600px);
        box-sizing: border-box;
    }
</style>