<script lang="ts">
    import type { Writable } from "svelte/store";
    import type { Board } from "../types/Board";
    import Card from "./Card.svelte";


    export let board: Writable<Board>

    // const mockCard = {    
    //     code: '', 
    //     image: 'https://deckofcardsapi.com/static/img/6H.png', 
    //     value: '', 
    //     suit: '',
    // }
</script>

<div class="board">
    {#each $board as pair}
        <div class="pair">
            <Card card={pair.turn}/>
            {#if pair.beat}
                <Card card={pair.beat}/>
            {/if}
            <!-- <Card card={mockCard}/> -->
        </div>

    {/each}
</div>

<style>
    .board {
        display: flex;
        flex-flow: row wrap;
    }
    .pair:not(:first-child) {
        margin-left: 5px;
    }

</style>