<script lang="ts">
    import type { Card } from "../types/Card";
    import src from "./card_back.png"

    export let card: Card;
    export let closed: boolean = false;
    export let makeTurn: ((card: Card) => void) | undefined = undefined;

    function onClick(){
        if (makeTurn) {
            makeTurn(card)
        }
    }
</script>

{#if !closed}
    <img class="card {makeTurn ? 'clickable' : ''}" src={card.image} alt="card" on:click={onClick}>
{:else}
    <img class="card-back" {src} alt="card back">
{/if}

<style>
    img {
        max-width: 100px;
        margin-left: -80px;
    }
    img:first-of-type {
        margin-left: 0;
    }
    
    .clickable:hover {
        position: relative;
        top: -20px;
    }
</style>