<script lang="ts">
    import type { Writable } from "svelte/store";
    import type { Card as CardType } from "../types/Card";
    import Card from "./Card.svelte";

    export let hand: Writable<CardType[]>;
    export let closed: boolean = false;
    export let makeTurn: ((card: CardType) => void) | undefined = undefined;
</script>

<div class="hand">
    {#each $hand as card}
        <Card {makeTurn} {card} {closed}/>
    {/each}
</div>



<style>
    .hand {
        position: relative;
    }

</style>